<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IETE HIT SF</title>
    <!-- CDN For Swiper.js -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
    <!-- end of CDN For Swiper.js -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/css/home.css">
    <!-- <script src="finallanding.js" defer></script> -->
</head>

<body onmousedown="return false" onselectstart="return false">
    <div class="main__container">
        <header>
            <div class="logo__container">
                <a href="">
                    <img src="/svg/logo.svg" alt="logo" />
                    <span> IETE HIT SF </span>
                </a>
            </div>

            <nav>
                <ul>
                    <li> <a href=""> Home </a> </li>
                    <li> <a href=""> About </a> </li>
                    <li> <a href=""> Blog </a> </li>
                    <li> <a href=""> Contact </a> </li>
                </ul>
                <img src="/svg/nav.svg" alt="" class="nav-svg" />
            </nav>
        </header>

        <div class="container">
            <div class="robo">
                <div class="robot">
                    <img src="/svg/circle.svg" alt="circle1" class="circle1">
                    <img src="/svg/robot.svg" alt="robo" class="robot__svg">
                </div>
                <img src="/svg/circle.svg" alt="circle2" class="circle2">
                <img src="/svg/circle.svg" alt="circle3" class="circle3">
            </div>
            <div class="content">
                <img src="/svg/arrow1.svg" alt=">>>" class="arrow1" />
                <p class="title"> IETE HIT SF </p>
                <p class="brief"> Welcome to our site! Stay ahead of the curve with the updates and insights of
                    cutting-edge technology . Join us on our journey to explore the future of technology and be a
                    part of “IETE HIT SF Family” </p>
                <img src="/svg/arrow2.svg" alt="arrow2" class="arrow2" />
                <div class="buttons">
                    <button onclick="enroll()"> Enroll </button>
                </div>

                <img src="/svg/circle.svg" alt="circle4" class="circle4">
            </div>
            <img src="/svg/sideone.svg" alt="sideDesign" class="sideDesign1" />
            <img src="/svg/sideone.svg" alt="sideDesign" class="sideDesign2" />


            <!-- =================  code for image swiper  ============================= -->

            <div class="swiper mySwiper" id="unhide">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img
                            src="https://images.pexels.com/photos/13955179/pexels-photo-13955179.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load" />

                        <div class="eventDetails">
                            <p class="eventName"> Event Name </p>
                            <p class="eventDate"> Date : 07-05-2023 </p>
                            <p class="eventVenue"> Venue : Ground Floor, ECE Department </p>
                            <p class="eventTime"> Time : 10:00 A.M. - 1:00 P.M. and 3:00 P.M. - 5:00 P.M. </p>
                            <button class="enrollEvent"> Register </button>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <img
                            src="https://images.pexels.com/photos/14655382/pexels-photo-14655382.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load" />

                        <div class="eventDetails">
                            <p class="eventName"> Event Name </p>
                            <p class="eventDate"> Date : 07-05-2023 </p>
                            <p class="eventVenue"> Venue : Ground Floor, ECE Department </p>
                            <p class="eventTime"> Time : 10:00 A.M. - 1:00 P.M. and 3:00 P.M. - 5:00 P.M. </p>
                            <button class="enrollEvent"> Register </button>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <img
                            src="https://images.pexels.com/photos/14933181/pexels-photo-14933181.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load" />

                        <div class="eventDetails">
                            <p class="eventName"> Event Name </p>
                            <p class="eventDate"> Date : 07-05-2023 </p>
                            <p class="eventVenue"> Venue : Ground Floor, ECE Department </p>
                            <p class="eventTime"> Time : 10:00 A.M. - 1:00 P.M. and 3:00 P.M. - 5:00 P.M. </p>
                            <button class="enrollEvent"> Register </button>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <img
                            src="https://images.pexels.com/photos/15045106/pexels-photo-15045106.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load" />

                        <div class="eventDetails">
                            <p class="eventName"> Event Name </p>
                            <p class="eventDate"> Date : 07-05-2023 </p>
                            <p class="eventVenue"> Venue : Ground Floor, ECE Department </p>
                            <p class="eventTime"> Time : 10:00 A.M. - 1:00 P.M. and 3:00 P.M. - 5:00 P.M. </p>
                            <button class="enrollEvent"> Register </button>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <img
                            src="https://images.pexels.com/photos/14604771/pexels-photo-14604771.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load" />

                        <div class="eventDetails">
                            <p class="eventName"> Event Name </p>
                            <p class="eventDate"> Date : 07-05-2023 </p>
                            <p class="eventVenue"> Venue : Ground Floor, ECE Department </p>
                            <p class="eventTime"> Time : 10:00 A.M. - 1:00 P.M. and 3:00 P.M. - 5:00 P.M. </p>
                            <button class="enrollEvent"> Register </button>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <img
                            src="https://images.pexels.com/photos/15146989/pexels-photo-15146989.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load" />

                        <div class="eventDetails">
                            <p class="eventName"> Event Name </p>
                            <p class="eventDate"> Date : 07-05-2023 </p>
                            <p class="eventVenue"> Venue : Ground Floor, ECE Department </p>
                            <p class="eventTime"> Time : 10:00 A.M. - 1:00 P.M. and 3:00 P.M. - 5:00 P.M. </p>
                            <button class="enrollEvent"> Register </button>
                        </div>
                    </div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-pagination"></div>
            </div>


            <!-- =================  code for image swiper ends here  ============================= -->
        </div>

    </div>



    <!-- ===================================== code for small screens ===================================== -->

    <div class="smain__container">
        <header>
            <div class="slogo__container">
                <img src="/svg/smalldevlogo.svg" alt="logo" />
            </div>
            <div class="hamburger">
                <img src="/svg/hamburger.svg" alt="hamburger" class="hamburger_image" />
            </div>
        </header>

        <div class="navBar">
            <div class="close">
                <!-- <i class="fa-solid fa-xmark"></i> -->
                <i class="fas fa-times"></i>
            </div>
            <ul>
                <li> <a href="#"> Home </a> </li>
                <li> <a href="#"> About </a> </li>
                <li> <a href="#"> Blog </a> </li>
                <li> <a href="#"> Contact </a> </li>
                <li> <a href="#"> Login </a> </li>
            </ul>
        </div>

        <div class="srobo">
            <div class="srobot">
                <img src="/svg/circle.svg" alt="circle1" class="scircle1" />
                <img src="/svg/robot.svg" alt="robot" class="srobot__svg" />
                <img src="/svg/circle.svg" alt="circle2" class="scircle2" />
                <img src="/svg/circle.svg" alt="circle2" class="scircle3" />
                <img src="/svg/circle.svg" alt="circle3" class="scircle4" />
            </div>
            <div class="sname">
                <img src="/svg/arrow3.svg" alt="arrow3" class="sarrow3" />
                <p class="ietes"> IETE HIT SF </p>
            </div>


            <!-- =================  Events Container code goes here  =============================== -->
            <div class="sevent__Container">
                <div class="sevents">
                    <img src="https://wallpapercave.com/wp/wp7185806.jpg" alt="" />
                    <div class="seventDetails">
                        <p class="eventName"> Event Name </p>
                        <p class="eventDate"> Date : 07-05-2023 </p>
                        <p class="eventVenue"> Venue : Ground Floor, ECE Department </p>
                        <p class="eventTime"> Time : 10:00 A.M. - 1:00 P.M. and 3:00 P.M. - 5:00 P.M. </p>
                        <button class="enrollEvent"> Register </button>
                    </div>
                </div>

                <div class="sevents">
                    <img src="https://wallpapercave.com/wp/wp6202709.jpg" alt="" />
                    <div class="seventDetails">
                        <p class="eventName"> Event Name </p>
                        <p class="eventDate"> Date : 07-05-2023 </p>
                        <p class="eventVenue"> Venue : Ground Floor, ECE Department </p>
                        <p class="eventTime"> Time : 10:00 A.M. - 1:00 P.M. and 3:00 P.M. - 5:00 P.M. </p>
                        <button class="enrollEvent"> Register </button>
                    </div>
                </div>

                <div class="sevents">
                    <img src="http://www.pixelstalk.net/wp-content/uploads/2016/10/Desktop-HD-Aesthetic-Photos.png"
                        alt="" />
                    <div class="seventDetails">
                        <p class="eventName"> Event Name </p>
                        <p class="eventDate"> Date : 07-05-2023 </p>
                        <p class="eventVenue"> Venue : Ground Floor, ECE Department </p>
                        <p class="eventTime"> Time : 10:00 A.M. - 1:00 P.M. and 3:00 P.M. - 5:00 P.M. </p>
                        <button class="enrollEvent"> Register </button>
                    </div>
                </div>

                <div class="sevents">
                    <img src="https://wallpapercave.com/wp/wp4288364.jpg" alt="" />
                    <div class="seventDetails">
                        <p class="eventName"> Event Name </p>
                        <p class="eventDate"> Date : 07-05-2023 </p>
                        <p class="eventVenue"> Venue : Ground Floor, ECE Department </p>
                        <p class="eventTime"> Time : 10:00 A.M. - 1:00 P.M. and 3:00 P.M. - 5:00 P.M. </p>
                        <button class="enrollEvent"> Register </button>
                    </div>
                </div>

                <div class="sevents">
                    <img src="https://wallpapercave.com/wp/wp7449245.jpg" alt="" />
                    <div class="seventDetails">
                        <p class="eventName"> Event Name </p>
                        <p class="eventDate"> Date : 07-05-2023 </p>
                        <p class="eventVenue"> Venue : Ground Floor, ECE Department </p>
                        <p class="eventTime"> Time : 10:00 A.M. - 1:00 P.M. and 3:00 P.M. - 5:00 P.M. </p>
                        <button class="enrollEvent"> Register </button>
                    </div>
                </div>

                <div class="sevents">
                    <img src="https://images.unsplash.com/photo-1529573813483-53bd9ede667e?ixlib=rb-1.2.1&w=1000&q=80"
                        alt="" />
                    <div class="seventDetails">
                        <p class="eventName"> Event Name </p>
                        <p class="eventDate"> Date : 07-05-2023 </p>
                        <p class="eventVenue"> Venue : Ground Floor, ECE Department </p>
                        <p class="eventTime"> Time : 10:00 A.M. - 1:00 P.M. and 3:00 P.M. - 5:00 P.M. </p>
                        <button class="enrollEvent"> Register </button>
                    </div>
                </div>

                <div class="sevents">
                    <img src="https://wallpapercave.com/wp/wp4288401.jpg" alt="" />
                    <div class="seventDetails">
                        <p class="eventName"> Event Name </p>
                        <p class="eventDate"> Date : 07-05-2023 </p>
                        <p class="eventVenue"> Venue : Ground Floor, ECE Department </p>
                        <p class="eventTime"> Time : 10:00 A.M. - 1:00 P.M. and 3:00 P.M. - 5:00 P.M. </p>
                        <button class="enrollEvent"> Register </button>
                    </div>
                </div>

                <div class="sevents">
                    <img src="https://cdn.wallpapersafari.com/82/11/e3tTYz.jpg" alt="" />
                    <div class="seventDetails">
                        <p class="eventName"> Event Name </p>
                        <p class="eventDate"> Date : 07-05-2023 </p>
                        <p class="eventVenue"> Venue : Ground Floor, ECE Department </p>
                        <p class="eventTime"> Time : 10:00 A.M. - 1:00 P.M. and 3:00 P.M. - 5:00 P.M. </p>
                        <button class="enrollEvent"> Register </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="scontent">
            <p class="sbrief"> Welcome to our site! Stay ahead of the curve with the updates and insights of
                cutting-edge technology . Join us on our journey to explore the future of technology and be a part of “
                IETE HIT SF Family ” </p>
            <img src="/svg/arrow4.svg" alt="sarrow4" class="sarrow4" />
            <div class="sbuttons">
                <button onclick="enrollEvent()"> Enroll </button>
            </div>
        </div>



    </div>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id iusto nobis atque veniam maiores. Asperiores error
        omnis nobis iusto obcaecati at. Repudiandae accusamus dolores quisquam nisi soluta perferendis mollitia
        molestiae debitis, eum, quibusdam fuga vero rem minus architecto. Consectetur ea accusantium ratione est
        laboriosam, sed tenetur maiores! Repudiandae iste ipsa ex expedita voluptate porro. Ex fugit modi vero expedita
        odio error corrupti impedit, ab nulla itaque facere tempore amet recusandae eaque dignissimos quia dolor
        repellendus laudantium eius quaerat dolores neque consectetur! Quaerat error, ullam consequatur veritatis facere
        eum ad obcaecati sunt. Sed, quod aspernatur sint, aperiam laboriosam nemo minus magnam illo velit vitae
        voluptas. Libero inventore perspiciatis, aspernatur id eos voluptatem omnis? Tenetur, distinctio architecto odit
        numquam libero nisi ut ea velit fuga tempora alias quia voluptatibus illum harum quo totam modi ullam, autem
        nostrum corporis cumque quae. Temporibus, dolor mollitia vel eius exercitationem natus! Ipsa dicta beatae eum,
        consectetur asperiores a laudantium iste reiciendis id omnis. Sit repudiandae ex nulla consequatur id commodi
        quidem officiis? Sed, culpa sequi tempora officiis voluptas distinctio. Iste, voluptatem voluptatum fugit nulla
        mollitia eveniet expedita unde. Quod, labore nam minus voluptate eaque velit dolorum culpa sint nostrum aliquid,
        dolores modi numquam dolor quaerat fuga at nemo. Delectus autem nostrum, animi rerum accusantium ut
        necessitatibus voluptatum saepe tenetur harum eius deleniti eligendi odio tempora, quasi eaque reiciendis vitae
        qui ex perspiciatis iure maxime. Fugit quo praesentium tempora rem repellendus, consequuntur ullam suscipit
        alias veritatis possimus autem dolorum natus, facere consequatur adipisci omnis enim odio itaque?</p>


    <script>
        let robo = document.querySelector(".container .robo");
        let content = document.querySelector(".container .content");
        let swiperSlide = document.querySelector(".swiper");
        let enrollButton = document.querySelector(".container .content .buttons button");
        function enroll() {
            robo.style.transform = 'scale(0.65) translateY(-50px)';
            content.style.transform = 'scale(0.90,0.85) translate(-25px, -70px)';
            swiperSlide.style.display = "block";
            enrollButton.style.display = "none";
        }

        // enroll function for small devices is 
        let sevent__Container = document.querySelector(".sevent__Container");
        let sevents = document.querySelectorAll(".sevent__Container .sevents");
        let srobo = document.querySelector(".srobo");
        let robot__svg = document.querySelector(".srobo .srobot .srobot__svg");
        let sname = document.querySelector(".srobo .sname");
        let scontent = document.querySelector(".smain__container .scontent");
        function enrollEvent() {

            sevent__Container.style.display = "flex";
            srobo.style.borderRadius = 0;
            if (screen.width < 1000 && screen.width < screen.height) {
                srobo.style.height = "90%";
            }

            if (screen.width < 925 && screen.width > 700 && screen.width > screen.height) {
                srobo.style.height = "600px";
                sevent__Container.style.width = "60%";
                sevent__Container.style.marginLeft = "20%";
                sevents[0].style.height = "35%"
            }

            if (screen.width < 700 && screen.width > 550 && screen.width > screen.height) {
                srobo.style.height = "550px";
                sevent__Container.style.width = "60%"
                sevent__Container.style.width = "60%";
                sevents[0].style.height = "35%"
            }

            if (screen.width < 550 && screen.width < screen.height) {
                srobo.style.height = "88%";
                // sevent__Container.style.width = "60%"
            }

            sname.style.display = "none";
            robot__svg.style.display = "none";
            scontent.style.display = "none";
            console.log(y);
        }

        
        // addEventListener("resize", (event) => {
        //     const seventContainerStyle = getComputedStyle(sevent__Container);
        //     if(seventContainerStyle.display === "flex"){
        //         enrollEvent();
        //     }
        // });

        addEventListener("resize", (event) => {
            const seventContainerStyle = getComputedStyle(sevent__Container);
            if(seventContainerStyle.getPropertyValue("display") === "flex"){
                enrollEvent();
            }
        });


        // navBar for small devices related codes
        let hamburger_image = document.querySelector(".hamburger_image");
        let navBar = document.querySelector(".smain__container .navBar");
        let navBar_close = document.querySelector(".smain__container .navBar .close .fas");
        hamburger_image.addEventListener("click", () => {
            hamburger_image.style.display = "none"
            navBar.style.display = "flex";
            navBar.style.right = '2%'
        })
        navBar_close.addEventListener("click", () => {
            hamburger_image.style.display = "block"
            navBar.style.display = "none";
            navBar.style.right = '-12.5%'
        })
    </script>


    <!-- CDN For Swiper.js -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <!-- CDN For Swiper.js -->
    <script>
        var swiper = new Swiper(".mySwiper", {
            slidesPerView: 5,
            spaceBetween: 70,
            slidesPerGroup: 1,  // to specify kitna slides ek bar me move hoga 
            centeredSlides: true,
            grabCursor: true,


            loop: true,
            loopFillGroupWithBlank: true,
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
                color: "white",
            },
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
            breakpoints: {
                // when window width is <= 499px
                300: {
                    slidesPerView: 1,
                    centeredSlides: true,
                    spaceBetweenSlides: 10
                },
                650: {
                    slidesPerView: 3,
                    centeredSlides: true,
                },
                // when window width is <= 999px
                999: {
                    slidesPerView: 5,
                    centeredSlides: true,
                    // spaceBetweenSlides: 50
                }
            }
        });
    </script>
</body>

</html>